<div style="text-align: center; background-color: black; height: 50vh; display: flex; flex-direction: column; align-items: center; ">

    <div style="width: 100%; margin-top: 10vh;">
        <h1 style="color: white;">MASTER</h1>
    </div>

    <div style="display: flex; flex-direction: row; margin-top: 10vh;">
        <div (click)="navchild1()" class="child" style="margin-right: 35px;">
            CHILD 1
        </div>
        <div (click)="navchild2()" class="child">
            CHILD 2
        </div>
    </div>
    
</div>

<div>
    <router-outlet></router-outlet>
</div>